/ia_fatec/scratch/__init__.py
/ia_fatec/and_funtion.py
/ia_fatec/scratch/clustering.py
/ia_fatec/scratch/crash_course_in_python.py
/ia_fatec/scratch/databases.py
/ia_fatec/scratch/decision_trees.py
/ia_fatec/scratch/deep_learning.py
/ia_fatec/scratch/getting_data.py
/ia_fatec/scratch/gradient_descent.py
/.idea/IA.iml
/ia-workspace.code-workspace
/ia_fatec/scratch/inference.py
/ia_fatec/scratch/introduction.py
/ia_fatec/scratch/k_nearest_neighbors.py
/ia_fatec/.vscode/launch.json
/ia_fatec/scratch/linear_algebra.py
/ia_fatec/scratch/logistic_regression.py
/ia_fatec/scratch/machine_learning.py
/ia_fatec/scratch/mapreduce.py
/.idea/misc.xml
/.idea/modules.xml
/ia_fatec/scratch/multiple_regression.py
/ia_fatec/scratch/naive_bayes.py
/ia_fatec/scratch/network_analysis.py
/ia_fatec/scratch/neural_networks.py
/ia_fatec/scratch/nlp.py
/ia_fatec/scratch/nlp_advanced.py
/ia_fatec/or_function.py
/ia_fatec/perceptron.py
/ia_fatec/scratch/probability.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/ia_fatec/scratch/recommender_systems.py
/.vscode/settings.json
/ia_fatec/scratch/simple_linear_regression.py
/ia_fatec/scratch/statistics.py
/tp3/teste_tp3_c.py
/.idea/vcs.xml
/ia_fatec/scratch/visualization.py
/ia_fatec/scratch/working_with_data.py
/.idea/workspace.xml
ia_fatec/scratch/__pycache__/linear_algebra.cpython-39.pyc
ia_fatec/scratch/__pycache__/gradient_descent.cpython-39.pyc
ia_fatec/scratch/__pycache__/__init__.cpython-39.pyc
ia_fatec/scratch/__init__.pyc
.idea/runConfigurations/_template__of_CompoundRunConfigurationType.xml
